<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>dispatcher</filter-name>
		<filter-class>works.cirno.mocha.SpringDispatcherFilter</filter-class>
		<init-param>
			<param-name>configurator</param-name>
			<param-value>works.cirno.mocha.example.ExampleConfigurator</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>dispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>